@page
@model IntroductionToBootstrap4.Pages.CSS3.Chapter02Model
@{
    ViewData["Title"] = "Chapter02";
}




<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <style type="text/css">
        h1 {
            color: red;
        }

        h1 {
            background: black;
        }

        h2 {
            color: red;
        }

        h2 {
            background: black;
        }

        h1, h2 {
            color: red;
        }

        h1, h2 {
            background: black;
        }

        h1 {
            color: red;
            background: black;
        }

        h2 {
            color: red;
            background: black;
        }

        h1, h2 {
            color: red;
            background: black;
        }
    </style>
</head>
<body>
    <p>This page is red</p>
    <p style="color:green">Green text</p>

    <h1>First header</h1>

    <h2>Second header</h2>

   
</body>

