@page
@model IntroductionToBootstrap4.Pages.CSS3.Chapter01Model
@{
    ViewData["Title"] = "Chapter01";
}

<h1>Chapter01</h1>

<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <style type="text/css">

        .fruit {
            color: red;
            margin: 1px;
        }

        .fruit {
            color: red;
            margin: 1px;
        }

            .fruit.apple {
                color: green;
                margin: 2px;
            }

    
    p { color: red; }
    </style>
</head>
<body>
    <p>This page is red</p>
    <p style="color:green">Green text</p>
</body>


