@page
@model IntroductionToBootstrap4.Pages.Bootstrap.Grid_xsModel
@{
    ViewData["Title"] = "Grid_xs";
}

<div class="container sample">
    <div class="row">
        <div class="col-sm-12 col-md-8">12 or 8</div>
        <div class="col-sm-6 col-md-4">6 or 4</div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">50% or 33.4%</div>
        <div class="col-sm-6 col-md-4">50% or 33.4%</div>
        <div class="col-sm-6 col-md-4">50% or 33.4%</div>
    </div>

    <div class="row">
        <div class="col-sm-6">.col-sm-6</div>
        <div class="col-sm-6">.col-sm-6</div>
    </div>
</div>
