@page
@model IntroductionToBootstrap4.Pages.Bootstrap.Grid_ClearfixModel


<div class="container sample">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            Small: 6 Tablet: 3<br />
            More<br />
            Even more
        </div>
        <div class="col-sm-6 col-md-3">Small: 6 Tablet: 3</div>
        <div class="clearfix">xx</div>
        <div class="col-sm-6 col-md-3">Small: 6 Tablet: 3</div>
        <div class="col-sm-6 col-md-3">Small: 6 Tablet: 3</div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-sm-6 col-md-3">
            Small: 6 Tablet: 3<br />
            More<br />
            Even more
        </div>
        <div class="col-sm-6 col-md-3">Small: 6 Tablet: 3</div>
        <div class="d-block d-sm-none">xx</div>
        <div class="col-sm-6 col-md-3">Small: 6 Tablet: 3</div>
        <div class="col-sm-6 col-md-3">Small: 6 Tablet: 3</div>
    </div>
</div>
