@page
@model IntroductionToBootstrap4.Pages.Bootstrap.Grid_FluidModel
@{
    ViewData["Title"] = "Grid_Fluid";
}

<div class="container sample">
    <div class="row">
        <div class="col-md-12">
            Text in the Grid
        </div>
    </div>
</div>


<div class="container-fluid sample">
    <div class="row">
        <div class="col-md-12">
            Text in the Grid
        </div>
    </div>
</div>