@page
@model IntroductionToBootstrap4.Pages.Bootstrap.Grid_BreakModel


<div class="container sample">
    <div class="row">
        <div class="col-sm-9">9</div>
        <div class="col-sm-4">4<br>And more content...</div>
        <div class="col-sm-6">6<br>More columns hereafter.</div>
    </div>
</div>
